{% extends 'main/base.html' %}


{% block content %}


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>movieCard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>


<div class="container mt-5">
  <h2 class="text-center">Trending Movies</h2>
  <div class="row justify-content-center">

    {% for movie in all_movies %}
    <div class="card movie_card">
      <img src="{{ movie.poster }}" class="card-img-top" alt="...">
      <div class="card-body">
          <a href="{{ movie.youtube_link }}">
          <i class="fas fa-play play_button" data-toggle="tooltip"
            data-placement="bottom" title="Play Trailer">
        </i>
      </a>
        <h5 class="card-title"> <a href="{% url 'main:detail' movie.id %}">{{ movie.title }}</a></h5>
        <span class="movie_info">{{ movie.year }}</span>
        <span class="movie_info float-right"><i class="fas fa-star"></i>{{ movie.rating }}/10</span>
      </div>
    </div>
    {% endfor %}






  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>


{% endblock %}